* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-container {
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
.nav-container .nav-bar {
  width: 95%;
  height: 8vw;
  display: flex;
  border-bottom: 1px solid #505050;
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-family: 'Montserrat';
  position: fixed;
  z-index: 1000;
}
.nav-container .nav-bar .logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.nav-container .nav-bar .logo h2 {
  font-size: 3.5vw;
  font-weight: 900;
  font-family: 'Lobster';
  color: #053B50;
}
.nav-container .nav-bar .logo h2 span {
  font-family: 'Lobster';
  font-size: 2vw;
  font-weight: 600;
  color: #053B50;
}
.nav-container .nav-bar .logo h2 .dot {
  font-size: 2.5vw;
  color: #EE6C32;
}
.nav-container .nav-bar .nav-contents {
  display: flex;
  gap: 3.5vw;
  align-items: center;
}
.nav-container .nav-bar .nav-contents h3 a {
  font-size: 1.3vw;
  font-weight: 700;
  text-decoration: none;
  color: #505050;
}
.nav-container .nav-bar .nav-contents h3 a:hover {
  color: #176B87;
  transition: all 0.3s ease-in-out;
  text-decoration: underline #176B87;
}
.nav-container .nav-bar .nav-contents button {
  padding: 1vw 2vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  background-color: #EE6C32;
  color: #fff;
  border-radius: 25px;
}
.nav-container .nav-bar .nav-contents button:hover {
  background-color: #B54F27;
  transition: all 0.3s ease-in-out;
}
.nav-container .nav-bar .ri-menu-3-fill {
  display: none;
}
.nav-container .drop-down {
  display: none;
}
.about-container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10vw;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-container .left-sec {
  width: 50%;
}
.about-container .left-sec h3 {
  font-size: 1.3vw;
  font-weight: 800;
  color: #EE6C32;
  font-family: 'Montserrat';
  padding-bottom: 1vw;
}
.about-container .left-sec h1 {
  font-size: 3vw;
  font-weight: 900;
  font-family: 'Poppins';
  color: #053B50;
  line-height: 3.5vw;
}
.about-container .left-sec h4 {
  padding-top: 1vw;
}
.about-container .left-sec h4 li {
  font-size: 1.3vw;
  font-family: 'Montserrat';
  color: #505050;
  line-height: 1.5;
}
.about-container .left-sec .since {
  padding-top: 3vw;
}
.about-container .left-sec .since .experience {
  display: flex;
  padding-bottom: 3vw;
  width: 100%;
}
.about-container .left-sec .since .experience .num {
  width: 25%;
  font-size: 3vw;
  background: #B54F27;
  background: linear-gradient(to bottom left, #B54F27 0%, #A1CCD1 50%, #176B87 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-family: 'Poppins';
}
.about-container .left-sec .since .experience .num:hover {
  transform: scale(1.08);
  transition: all 0.4s ease-in;
}
.about-container .left-sec .since .experience .content {
  font-family: 'Montserrat';
  width: 75%;
}
.about-container .left-sec .since .experience .content h2 {
  font-size: 2vw;
  padding-bottom: 1vw;
}
.about-container .left-sec .since .experience .content li {
  font-size: 1.3vw;
  color: #505050;
}
.about-container .right-sec {
  width: 47%;
  height: 100%;
}
.about-container .right-sec img {
  height: 100%;
  width: 100%;
  border-radius: 2vw;
  box-shadow: 0 0 3vw 5px lightgrey;
}
.blog-container {
  width: 95%;
  height: 100%;
  background-color: #E9E5D9;
  margin: 0 auto;
  border-radius: 2vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin-top: 6vw;
}
.blog-container .blog-cards {
  display: flex;
  justify-content: space-around;
  padding-top: 2vw;
}
.blog-container .blog-cards .cards {
  width: 28%;
  height: 100%;
  background-color: #fff;
  padding: 1.5vw 1.5vw;
  border-radius: 2vw;
}
.blog-container .blog-cards .cards .image {
  height: 15vw;
}
.blog-container .blog-cards .cards .image img {
  border-top-right-radius: 1.5vw;
  border-top-left-radius: 1.5vw;
  width: 100%;
  height: 100%;
}
.blog-container .blog-cards .cards h3 {
  font-family: 'Poppins';
  font-weight: 800;
  color: #505050;
  font-size: 2vw;
  text-align: left;
  padding: 1vw 0;
}
.blog-container .blog-cards .cards p {
  font-size: 1.3vw;
  color: #505050;
  font-family: 'Montserrat';
  padding-bottom: 1vw;
}
.blog-container .blog-cards .cards a {
  text-decoration: none;
  font-size: 1.3vw;
  font-family: 'Montserrat';
  color: #EE6C32;
}
.blog-container .blog-cards .cards a:hover {
  color: #B54F27;
  transition: all 0.3s ease-in;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #A1CCD1;
  padding: 3vw;
  width: 95%;
  height: 100%;
  border-radius: 4vw;
  margin: 0 auto;
  margin-top: 6vw;
}
.footer-container .socials {
  width: 45%;
  height: 100%;
}
.footer-container .socials .logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding-bottom: 1.5vw;
}
.footer-container .socials .logo i {
  font-size: 2vw;
  color: #053B50;
}
.footer-container .socials .logo h2 {
  font-size: 2.5vw;
  font-family: 'Lobster';
  font-weight: 800;
  color: #053B50;
}
.footer-container .socials .text {
  list-style-type: none;
  padding-bottom: 1.5vw;
}
.footer-container .socials .text li {
  font-size: 1.5vw;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 1.8;
}
.footer-container .socials .social-icons {
  display: flex;
  gap: 1vw;
}
.footer-container .socials .social-icons i {
  background-color: #000;
  color: #fff;
  padding: 1.2vw;
  font-size: 1.8vw;
  border-radius: 5vw;
}
.footer-container .socials .social-icons i:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.footer-container .links {
  width: 27%;
  height: 100%;
  list-style-type: none;
  text-align: center;
  padding-right: 2vw;
}
.footer-container .links h2 {
  font-size: 2.5vw;
  font-family: 'Montserrat';
}
.footer-container .links .navigations {
  display: flex;
  justify-content: space-around;
  padding-top: 1.7vw;
}
.footer-container .links .navigations .left-N {
  display: flex;
  flex-direction: column;
}
.footer-container .links .navigations .left-N a {
  color: #000;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: 'Montserrat';
  line-height: 2.5;
  font-weight: 700;
}
.footer-container .links .navigations .left-N a:hover {
  color: #B54F27;
  transition: all 0.5s ease-in-out;
}
.footer-container .links .navigations .right-N {
  display: flex;
  flex-direction: column;
}
.footer-container .links .navigations .right-N a {
  color: #000;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: 'Montserrat';
  line-height: 2.5;
  font-weight: 700;
}
.footer-container .links .navigations .right-N a:hover {
  color: #B54F27;
  transition: all 0.5s ease-in-out;
}
.footer-container .office {
  width: 27%;
  height: 100%;
  list-style-type: none;
}
.footer-container .office h2 {
  font-size: 2.5vw;
  font-family: 'Montserrat';
  padding-bottom: 1.4vw;
}
.footer-container .office .address {
  display: flex;
  line-height: 2;
  font-family: 'Montserrat';
  padding-bottom: 1.5vw;
}
.footer-container .office .address li {
  font-size: 1.5vw;
  font-weight: 700;
}
.footer-container .office .address li a {
  text-decoration: none;
  color: #000;
}
.footer-container .office .address li a:hover {
  color: blue;
}
@media (max-width: 770px) {
  .nav-container .nav-bar {
    align-items: center;
    position: fixed;
    height: 14vw;
  }
  .nav-container .nav-bar .logo .ri-lock-unlock-fill {
    font-size: 5vw;
  }
  .nav-container .nav-bar .logo h2 {
    font-size: 7vw;
    font-weight: 900;
  }
  .nav-container .nav-bar .logo h2 span {
    font-size: 4.5vw;
    font-weight: 900;
  }
  .nav-container .nav-bar .logo h2 .dot {
    font-size: 4vw;
  }
  .nav-container .nav-bar .nav-contents {
    display: none;
  }
  .nav-container .nav-bar .ri-menu-3-fill {
    display: block;
    font-size: 7vw;
    font-weight: 900;
    color: #EE6C32;
  }
  .nav-container .drop-down {
    display: none;
    width: 95%;
    z-index: 100;
    padding-top: 16vw;
    background-color: #A1CCD1;
    position: fixed;
    text-align: center;
    padding-bottom: 4vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
  .nav-container .drop-down h3 {
    padding-top: 6vw;
  }
  .nav-container .drop-down h3 a {
    text-decoration: none;
    font-size: 4vw;
    color: #505050;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18vw;
  }
  .about-container .left-sec {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-container .left-sec h3 {
    font-size: 3vw;
    padding-bottom: 1.5vw;
  }
  .about-container .left-sec h1 {
    font-size: 6vw;
    line-height: 6.5vw;
    padding-bottom: 1.5vw;
  }
  .about-container .left-sec h4 li {
    font-size: 2.5vw;
    padding-bottom: 1vw;
  }
  .about-container .left-sec .since {
    width: 100%;
    padding-top: 4vw;
  }
  .about-container .left-sec .since .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 4vw;
  }
  .about-container .left-sec .since .experience .num {
    width: 100%;
    font-size: 9vw;
  }
  .about-container .left-sec .since .experience .content {
    padding-left: 0;
  }
  .about-container .left-sec .since .experience .content h2 {
    font-size: 6vw;
    padding-bottom: 2vw;
  }
  .about-container .left-sec .since .experience .content li {
    font-size: 3vw;
  }
  .about-container .right-sec {
    width: 100%;
    height: 100%;
    padding-top: 4vw;
  }
  .about-container .right-sec img {
    height: 100%;
    width: 100%;
  }
  .blog-container {
    padding-top: 6vw;
    padding-bottom: 6vw;
    border-radius: 5vw;
    margin-top: 10vw;
  }
  .blog-container h3 {
    font-size: 3vw;
    padding-bottom: 1.5vw;
  }
  .blog-container h1 {
    font-size: 6vw;
    padding-bottom: 1.5vw;
  }
  .blog-container .blog-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-container .blog-cards .cards {
    width: 90%;
    margin-top: 4vw;
    padding: 4vw 3vw;
    border-radius: 3.5vw;
  }
  .blog-container .blog-cards .cards .image {
    width: 100%;
    height: 100%;
  }
  .blog-container .blog-cards .cards .image img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
  }
  .blog-container .blog-cards .cards .admin {
    padding-top: 2vw;
  }
  .blog-container .blog-cards .cards .admin .text {
    padding-right: 12vw;
  }
  .blog-container .blog-cards .cards .admin .text i {
    font-size: 4vw;
    padding-right: 1vw;
  }
  .blog-container .blog-cards .cards .admin .text li {
    font-size: 3vw;
  }
  .blog-container .blog-cards .cards h3 {
    font-size: 4vw;
    padding-bottom: 1.5vw;
    padding-top: 2vw;
  }
  .blog-container .blog-cards .cards p {
    font-size: 3vw;
    padding-bottom: 2vw;
  }
  .blog-container .blog-cards .cards a {
    font-size: 3vw;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 6vw;
  }
  .footer-container .socials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-container .socials .logo {
    padding-bottom: 2.5vw;
  }
  .footer-container .socials .logo i {
    font-size: 6vw;
  }
  .footer-container .socials .logo h2 {
    font-size: 6vw;
  }
  .footer-container .socials .text {
    padding-bottom: 2.5vw;
    text-align: center;
  }
  .footer-container .socials .text li {
    font-size: 3vw;
  }
  .footer-container .socials .social-icons i {
    font-size: 5vw;
    padding: 2.5vw;
  }
  .footer-container .links {
    height: 100%;
    width: 100%;
    margin-top: 6vw;
  }
  .footer-container .links h2 {
    font-size: 5.5vw;
  }
  .footer-container .links .navigations {
    width: 55%;
    margin: 0 auto;
    padding-top: 3.5vw;
  }
  .footer-container .links .navigations .left-N a {
    font-size: 3vw;
    line-height: 3;
  }
  .footer-container .links .navigations .right-N a {
    font-size: 3vw;
    line-height: 3;
  }
  .footer-container .office {
    margin-top: 6vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container .office h2 {
    font-size: 5.5vw;
  }
  .footer-container .office .address {
    padding-bottom: 2vw;
  }
  .footer-container .office .address li {
    font-size: 3vw;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .nav-container .nav-bar {
    align-items: center;
    position: fixed;
    height: 18vw;
  }
  .nav-container .nav-bar .logo h2 {
    font-size: 9vw;
  }
  .nav-container .nav-bar .logo h2 span {
    font-size: 6vw;
    font-weight: 900;
  }
  .nav-container .nav-bar .logo h2 .dot {
    font-size: 4vw;
  }
  .nav-container .nav-bar .nav-contents {
    display: none;
  }
  .nav-container .nav-bar .ri-menu-3-fill {
    display: block;
    font-size: 9vw;
    font-weight: 900;
  }
  .nav-container .drop-down {
    width: 95%;
    padding: 18vw 0;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
  .nav-container .drop-down h3 {
    padding-top: 10vw;
  }
  .nav-container .drop-down h3 a {
    font-size: 6vw;
    font-weight: 600;
  }
  .about-container {
    padding-top: 22vw;
  }
  .about-container .left-sec {
    width: 100%;
    height: 100%;
  }
  .about-container .left-sec h3 {
    font-size: 4vw;
    padding-bottom: 3vw;
  }
  .about-container .left-sec h1 {
    font-size: 9vw;
    line-height: 12vw;
    padding-bottom: 3vw;
  }
  .about-container .left-sec h4 li {
    font-size: 4vw;
    padding-bottom: 2vw;
  }
  .about-container .left-sec .since {
    width: 100%;
    padding-top: 8vw;
  }
  .about-container .left-sec .since .experience {
    padding-bottom: 8vw;
  }
  .about-container .left-sec .since .experience .num {
    width: 100%;
    font-size: 12vw;
  }
  .about-container .left-sec .since .experience .content {
    padding-left: 0;
  }
  .about-container .left-sec .since .experience .content h2 {
    font-size: 8vw;
    padding-bottom: 2vw;
  }
  .about-container .left-sec .since .experience .content li {
    font-size: 4vw;
  }
  .about-container .right-sec {
    width: 100%;
    height: 100%;
    padding-top: 8vw;
  }
  .about-container .right-sec img {
    height: 100%;
    width: 100%;
  }
  .blog-container {
    padding-top: 8vw;
    padding-bottom: 6vw;
    border-radius: 5vw;
    margin-top: 10vw;
  }
  .blog-container h3 {
    font-size: 4vw;
    padding-bottom: 3vw;
  }
  .blog-container h1 {
    font-size: 6.5vw;
    padding-bottom: 1.5vw;
  }
  .blog-container .blog-cards .cards {
    width: 91%;
    margin-top: 8vw;
    padding: 4.5vw 3vw;
    border-radius: 3.8vw;
  }
  .blog-container .blog-cards .cards .image {
    width: 100%;
    height: 100%;
  }
  .blog-container .blog-cards .cards .image img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 2.2vw;
    border-top-left-radius: 2.2vw;
  }
  .blog-container .blog-cards .cards .admin {
    padding-top: 2.2vw;
  }
  .blog-container .blog-cards .cards .admin .text {
    padding-right: 14vw;
  }
  .blog-container .blog-cards .cards .admin .text i {
    font-size: 5vw;
    padding-right: 1vw;
  }
  .blog-container .blog-cards .cards .admin .text li {
    font-size: 4vw;
  }
  .blog-container .blog-cards .cards h3 {
    font-size: 5vw;
    padding-bottom: 1.8vw;
    padding-top: 3vw;
  }
  .blog-container .blog-cards .cards p {
    font-size: 4vw;
    padding-bottom: 3vw;
  }
  .blog-container .blog-cards .cards a {
    font-size: 4vw;
  }
  .footer-container {
    padding: 6vw;
    margin-top: 8vw;
  }
  .footer-container .socials {
    width: 100%;
    height: 100%;
  }
  .footer-container .socials .logo {
    padding-bottom: 3.5vw;
  }
  .footer-container .socials .logo i {
    font-size: 9vw;
  }
  .footer-container .socials .logo h2 {
    font-size: 9vw;
  }
  .footer-container .socials .text {
    padding-bottom: 3.5vw;
  }
  .footer-container .socials .text li {
    font-size: 4.5vw;
  }
  .footer-container .socials .social-icons i {
    font-size: 6.5vw;
    padding: 3vw;
    border-radius: 7.5vw;
  }
  .footer-container .links {
    height: 100%;
    width: 100%;
    margin-top: 9vw;
  }
  .footer-container .links h2 {
    font-size: 6.5vw;
  }
  .footer-container .links .navigations {
    width: 65%;
    margin: 0 auto;
    padding-top: 4vw;
  }
  .footer-container .links .navigations .left-N a {
    font-size: 4vw;
    line-height: 3;
  }
  .footer-container .links .navigations .right-N a {
    font-size: 4vw;
    line-height: 3;
  }
  .footer-container .office {
    margin-top: 10vw;
    width: 100%;
    height: 100%;
  }
  .footer-container .office h2 {
    font-size: 6.5vw;
    padding-bottom: 3vw;
  }
  .footer-container .office .address {
    padding-bottom: 4vw;
  }
  .footer-container .office .address li {
    font-size: 4vw;
  }
}
