* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-container {
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
.nav-container .nav-bar {
  width: 95%;
  height: 8vw;
  display: flex;
  border-bottom: 1px solid #505050;
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-family: 'Montserrat';
  position: fixed;
  z-index: 1000;
}
.nav-container .nav-bar .logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.nav-container .nav-bar .logo h2 {
  font-size: 3.5vw;
  font-weight: 900;
  font-family: 'Lobster';
  color: #053B50;
}
.nav-container .nav-bar .logo h2 span {
  font-family: 'Lobster';
  font-size: 2vw;
  font-weight: 600;
  color: #053B50;
}
.nav-container .nav-bar .logo h2:hover {
  text-shadow: 1.5px 1.5px 5px gray;
  transition: all 0.5s ease-in-out;
}
.nav-container .nav-bar .nav-contents {
  display: flex;
  gap: 3.5vw;
  align-items: center;
}
.nav-container .nav-bar .nav-contents h3 a {
  font-size: 1.3vw;
  font-weight: 700;
  text-decoration: none;
  color: #505050;
}
.nav-container .nav-bar .nav-contents h3 a:hover {
  color: #176B87;
  transition: all 0.3s ease-in-out;
  text-decoration: underline #176B87;
}
.nav-container .nav-bar .nav-contents button {
  padding: 1vw 2vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  background-color: #A1CCD1;
  color: #fff;
  border-radius: 25px;
}
.nav-container .nav-bar .nav-contents button:hover {
  background-color: #053B50;
  transition: all 0.3s ease-in-out;
}
.nav-container .nav-bar .ri-menu-3-fill {
  display: none;
}
.nav-container .drop-down {
  display: none;
}
.service-container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vw;
}
.service-container h3 {
  font-size: 1.3vw;
  font-weight: 800;
  color: #EE6C32;
  font-family: 'Montserrat';
  padding-bottom: 1vw;
}
.service-container h1 {
  font-size: 3vw;
  font-weight: 900;
  font-family: 'Poppins';
  color: #053B50;
  line-height: 3.5vw;
}
.service-container h4 {
  padding-top: 1vw;
  font-size: 1.3vw;
  font-family: 'Montserrat';
  color: #505050;
}
.service-container .service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.8vw;
  padding-top: 3.5vw;
}
.service-container .service-cards .s-cards {
  border: 1px solid bisque;
  border-radius: 4vw;
  padding: 4vw 3vw;
  background-color: #fff;
}
.service-container .service-cards .s-cards i {
  background-color: #505050;
  color: #fff;
  padding: 1.4vw;
  border-radius: 5vw;
  font-size: 1.8vw;
  font-weight: 500;
}
.service-container .service-cards .s-cards h3 {
  margin-top: 2vw;
  font-family: 'Poppins';
  font-weight: 800;
  color: #505050;
  font-size: 2vw;
}
.service-container .service-cards .s-cards li {
  list-style-type: none;
  font-size: 1.3vw;
  font-family: 'Montserrat';
  color: #505050;
  line-height: 1.5;
}
.service-container .service-cards .s-cards:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 5px 4px #E9E5D9;
  background-color: #E9E5D9;
  transition: all 0.3s ease-in;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #A1CCD1;
  padding: 3vw;
  width: 95%;
  height: 100%;
  border-radius: 4vw;
  margin: 0 auto;
  margin-top: 6vw;
}
.footer-container .socials {
  width: 45%;
  height: 100%;
}
.footer-container .socials .logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding-bottom: 1.5vw;
}
.footer-container .socials .logo i {
  font-size: 2vw;
  color: #053B50;
}
.footer-container .socials .logo h2 {
  font-size: 2.5vw;
  font-family: 'Lobster';
  font-weight: 800;
  color: #053B50;
}
.footer-container .socials .text {
  list-style-type: none;
  padding-bottom: 1.5vw;
}
.footer-container .socials .text li {
  font-size: 1.5vw;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 1.8;
}
.footer-container .socials .social-icons {
  display: flex;
  gap: 1vw;
}
.footer-container .socials .social-icons i {
  background-color: #000;
  color: #fff;
  padding: 1.2vw;
  font-size: 1.8vw;
  border-radius: 5vw;
}
.footer-container .socials .social-icons i:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.footer-container .links {
  width: 27%;
  height: 100%;
  list-style-type: none;
  text-align: center;
  padding-right: 2vw;
}
.footer-container .links h2 {
  font-size: 2.5vw;
  font-family: 'Montserrat';
}
.footer-container .links .navigations {
  display: flex;
  justify-content: space-around;
  padding-top: 1.7vw;
}
.footer-container .links .navigations .left-N {
  display: flex;
  flex-direction: column;
}
.footer-container .links .navigations .left-N a {
  color: #000;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: 'Montserrat';
  line-height: 2.5;
  font-weight: 700;
}
.footer-container .links .navigations .left-N a:hover {
  color: #B54F27;
  transition: all 0.5s ease-in-out;
}
.footer-container .links .navigations .right-N {
  display: flex;
  flex-direction: column;
}
.footer-container .links .navigations .right-N a {
  color: #000;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: 'Montserrat';
  line-height: 2.5;
  font-weight: 700;
}
.footer-container .links .navigations .right-N a:hover {
  color: #B54F27;
  transition: all 0.5s ease-in-out;
}
.footer-container .office {
  width: 27%;
  height: 100%;
  list-style-type: none;
}
.footer-container .office h2 {
  font-size: 2.5vw;
  font-family: 'Montserrat';
  padding-bottom: 1.4vw;
}
.footer-container .office .address {
  display: flex;
  line-height: 2;
  font-family: 'Montserrat';
  align-items: center;
}
.footer-container .office .address i {
  font-size: 2vw;
  padding-right: 1vw;
}
.footer-container .office .address i:hover {
  color: #EE6C32;
  transition: all 0.5s ease-in-out;
}
.footer-container .office .address li {
  font-size: 1.5vw;
  font-weight: 700;
}
@media (max-width: 600px) {
  .nav-container .nav-bar {
    align-items: center;
    position: fixed;
    height: 14vw;
  }
  .nav-container .nav-bar .logo h2 {
    font-size: 7vw;
  }
  .nav-container .nav-bar .logo h2 span {
    font-size: 4.5vw;
    font-weight: 900;
  }
  .nav-container .nav-bar .nav-contents {
    display: none;
  }
  .nav-container .nav-bar .ri-menu-3-fill {
    display: block;
    font-size: 7vw;
    font-weight: 900;
    color: #A1CCD1;
  }
  .nav-container .nav-bar .ri-menu-3-fill:hover {
    text-shadow: 1.5px 1.5px 5px gray;
    transition: 0.5s;
  }
  .nav-container .drop-down {
    display: none;
    width: 95%;
    z-index: 100;
    padding-top: 16vw;
    background-color: #A1CCD1;
    position: fixed;
    text-align: center;
    padding-bottom: 4vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
  .nav-container .drop-down h3 {
    padding-top: 6vw;
  }
  .nav-container .drop-down h3 a {
    text-decoration: none;
    font-size: 4vw;
    color: #505050;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  .service-container {
    padding-top: 18vw;
  }
  .service-container h3 {
    font-size: 3vw;
    padding-bottom: 1.5vw;
  }
  .service-container h1 {
    font-size: 6vw;
    line-height: 6.5vw;
    padding-bottom: 1.5vw;
  }
  .service-container h4 {
    font-size: 2.5vw;
    padding-bottom: 1.5vw;
  }
  .service-container .service-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .service-container .service-cards .s-cards {
    padding: 6vw;
    width: 90%;
    margin-bottom: 3vw;
  }
  .service-container .service-cards .s-cards i {
    font-size: 5vw;
    padding: 2.5vw;
  }
  .service-container .service-cards .s-cards h3 {
    font-size: 5vw;
    margin-top: 3vw;
  }
  .service-container .service-cards .s-cards li {
    font-size: 3vw;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 6vw;
  }
  .footer-container .socials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-container .socials .logo {
    padding-bottom: 2.5vw;
  }
  .footer-container .socials .logo i {
    font-size: 6vw;
  }
  .footer-container .socials .logo h2 {
    font-size: 6vw;
  }
  .footer-container .socials .text {
    padding-bottom: 2.5vw;
    text-align: center;
  }
  .footer-container .socials .text li {
    font-size: 3vw;
  }
  .footer-container .socials .social-icons i {
    font-size: 5vw;
    padding: 2.5vw;
  }
  .footer-container .links {
    height: 100%;
    width: 100%;
    margin-top: 6vw;
  }
  .footer-container .links h2 {
    font-size: 5.5vw;
  }
  .footer-container .links .navigations {
    width: 55%;
    margin: 0 auto;
    padding-top: 3.5vw;
  }
  .footer-container .links .navigations .left-N a {
    font-size: 3vw;
    line-height: 3;
  }
  .footer-container .links .navigations .right-N a {
    font-size: 3vw;
    line-height: 3;
  }
  .footer-container .office {
    margin-top: 6vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container .office h2 {
    font-size: 5.5vw;
  }
  .footer-container .office .address i {
    font-size: 6vw;
    padding-right: 2vw;
  }
  .footer-container .office .address li {
    font-size: 3vw;
  }
}
@media (max-width: 420px) {
  .nav-container .nav-bar {
    align-items: center;
    position: fixed;
    height: 18vw;
  }
  .nav-container .nav-bar .logo h2 {
    font-size: 9vw;
  }
  .nav-container .nav-bar .logo h2 span {
    font-size: 6vw;
    font-weight: 900;
  }
  .nav-container .nav-bar .nav-contents {
    display: none;
  }
  .nav-container .nav-bar .ri-menu-3-fill {
    display: block;
    font-size: 9vw;
    font-weight: 900;
    color: #A1CCD1;
  }
  .nav-container .nav-bar .ri-menu-3-fill:hover {
    text-shadow: 1.5px 1.5px 5px gray;
    transition: 0.5s;
  }
  .nav-container .drop-down {
    display: none;
    width: 95%;
    background-color: #A1CCD1;
    padding-top: 18vw;
    position: fixed;
    text-align: center;
    z-index: 100;
    padding-bottom: 4vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
  .nav-container .drop-down h3 {
    padding-top: 6vw;
  }
  .nav-container .drop-down h3 a {
    text-decoration: none;
    font-size: 4vw;
    color: #505050;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  .service-container {
    padding-top: 22vw;
  }
  .service-container h3 {
    font-size: 3.5vw;
    padding-bottom: 1.5vw;
  }
  .service-container h1 {
    font-size: 9vw;
    line-height: 10vw;
    padding-bottom: 2vw;
  }
  .service-container h4 {
    font-size: 4vw;
    padding-bottom: 2vw;
  }
  .service-container .service-cards {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .service-container .service-cards .s-cards {
    padding: 9vw;
    width: 90%;
    margin-bottom: 4vw;
    border-radius: 6vw;
  }
  .service-container .service-cards .s-cards i {
    font-size: 8vw;
    padding: 2.5vw;
    border-radius: 7vw;
  }
  .service-container .service-cards .s-cards h3 {
    font-size: 7vw;
    line-height: 1;
    margin-top: 4vw;
  }
  .service-container .service-cards .s-cards li {
    font-size: 4vw;
  }
  .footer-container {
    padding: 6vw;
  }
  .footer-container .socials {
    width: 100%;
    height: 100%;
  }
  .footer-container .socials .logo {
    padding-bottom: 3.5vw;
  }
  .footer-container .socials .logo i {
    font-size: 9vw;
  }
  .footer-container .socials .logo h2 {
    font-size: 9vw;
  }
  .footer-container .socials .text {
    padding-bottom: 3.5vw;
  }
  .footer-container .socials .text li {
    font-size: 4.5vw;
  }
  .footer-container .socials .social-icons i {
    font-size: 6.5vw;
    padding: 3vw;
    border-radius: 7.5vw;
  }
  .footer-container .links {
    height: 100%;
    width: 100%;
    margin-top: 9vw;
  }
  .footer-container .links h2 {
    font-size: 6.5vw;
  }
  .footer-container .links .navigations {
    width: 65%;
    margin: 0 auto;
    padding-top: 4vw;
  }
  .footer-container .links .navigations .left-N a {
    font-size: 4vw;
    line-height: 3;
  }
  .footer-container .links .navigations .right-N a {
    font-size: 4vw;
    line-height: 3;
  }
  .footer-container .office {
    margin-top: 9vw;
    width: 100%;
    height: 100%;
  }
  .footer-container .office h2 {
    font-size: 6.5vw;
  }
  .footer-container .office .address i {
    font-size: 7vw;
    padding-right: 2.4vw;
  }
  .footer-container .office .address li {
    font-size: 4vw;
  }
}
