* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.main-container .nav-bar {
  width: 90%;
  height: 8vw;
  display: flex;
  border-bottom: 1px solid #505050;
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-family: 'Montserrat';
  position: fixed;
}
.main-container .nav-bar .logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.main-container .nav-bar .logo .ri-lock-unlock-fill {
  font-size: 2.5vw;
  color: #053B50;
}
.main-container .nav-bar .logo .ri-lock-unlock-fill:hover {
  text-shadow: 1.5px 1.5px 5px gray;
  transition: all 0.5s ease-in-out;
}
.main-container .nav-bar .logo h2 {
  font-size: 3vw;
  font-family: 'Lobster';
  font-weight: 800;
  color: #053B50;
}
.main-container .nav-bar .logo h2:hover {
  text-shadow: 1.5px 1.5px 5px gray;
  transition: all 0.5s ease-in-out;
}
.main-container .nav-bar .nav-contents {
  display: flex;
  gap: 3.5vw;
  align-items: center;
}
.main-container .nav-bar .nav-contents h3 {
  font-size: 1.3vw;
  font-weight: 700;
}
.main-container .nav-bar .nav-contents h3:hover {
  color: #176B87;
  transition: all 0.3s ease-in-out;
  text-decoration: underline #176B87;
}
.main-container .nav-bar .nav-contents button {
  padding: 1vw 2vw;
  font-size: 1.3vw;
  font-weight: 700;
  border: none;
  background-color: #A1CCD1;
  color: #fff;
  border-radius: 25px;
}
.main-container .nav-bar .nav-contents button:hover {
  background-color: #053B50;
  transition: all 0.3s ease-in-out;
}
.main-container .nav-bar .ri-menu-3-fill {
  display: none;
}
.main-container .hero-container {
  padding-top: 6vw;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.main-container .hero-container .left {
  width: 55%;
  height: 100%;
  padding: 5vw 0;
}
.main-container .hero-container .left li {
  font-size: 5.4vw;
  font-family: 'Poppins';
  font-weight: 900;
  color: #3B4D57;
}
.main-container .hero-container .left li span {
  color: #A1CCD1;
}
.main-container .hero-container .left button {
  margin-top: 3vw;
  padding: 1.5vw 3vw;
  color: #fff;
  background-color: #EE6C32;
  border: none;
  font-size: 1.5vw;
  font-weight: 500;
  border-radius: 5vw;
}
.main-container .hero-container .left button:hover {
  background-color: #B54F27;
  transition: all 0.3s ease-in-out;
}
.main-container .hero-container .right {
  width: 45%;
  height: 100%;
}
.main-container .hero-container .right img {
  width: 100%;
  height: 100%;
}
.main-container .third-container {
  display: flex;
  justify-content: space-around;
  padding-top: 6vw;
}
.main-container .third-container .three-cards {
  display: flex;
  flex-direction: column;
  height: 28vw;
  width: 28vw;
  padding: 2vw;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;
  box-shadow: 0px 0px 5px 1px #E9E5D9;
}
.main-container .third-container .three-cards:hover {
  background-color: #E9E5D9;
  transition: all 0.3s ease-in-out;
}
.main-container .third-container .three-cards .in-content .up-cntnt {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  text-align: center;
  margin: 0;
}
.main-container .third-container .three-cards .in-content .up-cntnt i {
  background-color: #505050;
  color: #fff;
  padding: 1.4vw;
  border-radius: 5vw;
  font-size: 1.8vw;
  font-weight: 500;
}
.main-container .third-container .three-cards .in-content .up-cntnt h3 {
  font-family: 'Poppins';
  font-weight: 800;
  color: #505050;
  font-size: 2vw;
}
.main-container .third-container .three-cards .in-content .dwn-cntnt {
  list-style-type: none;
  padding-top: 1.5vw;
}
.main-container .third-container .three-cards .in-content .dwn-cntnt li {
  font-size: 1.3vw;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #505050;
  line-height: 1.5;
}
.main-container .fourth-container {
  padding-top: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .fourth-container .left-image {
  width: 45%;
  height: 100%;
}
.main-container .fourth-container .left-image img {
  height: 100%;
  width: 100%;
}
.main-container .fourth-container .right-text {
  list-style-type: none;
  background-color: #A1CCD1;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6vw;
  border-radius: 6vw;
}
.main-container .fourth-container .right-text h2 {
  font-family: 'Poppins';
  font-size: 3vw;
  font-weight: 800;
  color: #3B4D57;
  padding-bottom: 2vw;
}
.main-container .fourth-container .right-text li {
  font-size: 1.3vw;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 1.8;
}
.main-container .fourth-container .right-text:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px grey;
}
@media (max-width: 600px) {
  .main-container .nav-bar {
    align-items: center;
    position: fixed;
    height: 14vw;
  }
  .main-container .nav-bar .logo .ri-lock-unlock-fill {
    font-size: 5vw;
  }
  .main-container .nav-bar .logo h2 {
    font-size: 7vw;
    font-weight: 900;
  }
  .main-container .nav-bar .nav-contents {
    display: none;
  }
  .main-container .nav-bar .ri-menu-3-fill {
    display: block;
    font-size: 7vw;
    font-weight: 900;
    color: #A1CCD1;
  }
  .main-container .nav-bar .ri-menu-3-fill:hover {
    text-shadow: 1.5px 1.5px 5px gray;
    transition: 0.5s;
  }
  .main-container .hero-container {
    padding-top: 12vw;
    flex-direction: column;
  }
  .main-container .hero-container .left {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .main-container .hero-container .left li {
    font-size: 10vw;
  }
  .main-container .hero-container .left button {
    font-size: 3.5vw;
    padding: 2.5vw 5vw;
  }
  .main-container .hero-container .right {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .main-container .hero-container .right img {
    width: 80%;
    height: 80%;
  }
  .main-container .third-container {
    flex-direction: column;
    align-items: center;
  }
  .main-container .third-container .three-cards {
    height: 60vw;
    width: 60vw;
    padding: 4vw;
    margin-top: 10vw;
    border-radius: 5vw;
  }
  .main-container .third-container .three-cards .in-content .up-cntnt {
    gap: 2vw;
  }
  .main-container .third-container .three-cards .in-content .up-cntnt i {
    font-size: 5vw;
    padding: 2.5vw;
    border-radius: 5.5vw;
  }
  .main-container .third-container .three-cards .in-content .up-cntnt h3 {
    font-size: 5vw;
  }
  .main-container .third-container .three-cards .in-content .dwn-cntnt {
    padding-top: 3vw;
  }
  .main-container .third-container .three-cards .in-content .dwn-cntnt li {
    font-size: 3vw;
    line-height: 1.8;
  }
  .main-container .fourth-container {
    flex-direction: column;
    text-align: center;
    padding-top: 8vw;
  }
  .main-container .fourth-container .left-image {
    width: 100%;
    height: 100%;
  }
  .main-container .fourth-container .left-image img {
    width: 80%;
    height: 80%;
  }
  .main-container .fourth-container .right-text {
    height: 100%;
    width: 90%;
    text-align: center;
    border-radius: 8vw;
    margin-top: 8vw;
  }
  .main-container .fourth-container .right-text h2 {
    font-size: 6vw;
  }
  .main-container .fourth-container .right-text li {
    font-size: 3vw;
  }
}
@media (max-width: 420px) {
  .main-container .nav-bar {
    align-items: center;
    position: fixed;
    height: 18vw;
  }
  .main-container .nav-bar .logo .ri-lock-unlock-fill {
    font-size: 8vw;
  }
  .main-container .nav-bar .logo h2 {
    font-size: 9vw;
    font-weight: 900;
  }
  .main-container .nav-bar .nav-contents {
    display: none;
  }
  .main-container .nav-bar .ri-menu-3-fill {
    display: block;
    font-size: 9vw;
    font-weight: 900;
    color: #A1CCD1;
  }
  .main-container .nav-bar .ri-menu-3-fill:hover {
    text-shadow: 1.5px 1.5px 5px gray;
    transition: 0.5s;
  }
  .main-container .hero-container {
    padding-top: 26vw;
    flex-direction: column;
  }
  .main-container .hero-container .left {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .main-container .hero-container .left li {
    font-size: 14vw;
  }
  .main-container .hero-container .left button {
    margin-top: 10vw;
    font-size: 6vw;
    padding: 5vw 7vw;
    border-radius: 8vw;
  }
  .main-container .hero-container .right {
    padding-top: 8vw;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .main-container .hero-container .right img {
    width: 100%;
    height: 100%;
  }
  .main-container .third-container {
    flex-direction: column;
    align-items: center;
  }
  .main-container .third-container .three-cards {
    height: 80vw;
    width: 80vw;
    padding: 4vw;
    margin-bottom: 2vw;
    border-radius: 5vw;
  }
  .main-container .third-container .three-cards .in-content .up-cntnt {
    gap: 4vw;
  }
  .main-container .third-container .three-cards .in-content .up-cntnt i {
    font-size: 8vw;
    padding: 2.5vw;
    border-radius: 7vw;
  }
  .main-container .third-container .three-cards .in-content .up-cntnt h3 {
    font-size: 7vw;
  }
  .main-container .third-container .three-cards .in-content .dwn-cntnt {
    padding-top: 4vw;
  }
  .main-container .third-container .three-cards .in-content .dwn-cntnt li {
    font-size: 4vw;
    line-height: 1.8;
  }
  .main-container .fourth-container {
    flex-direction: column;
    padding-top: 8vw;
  }
  .main-container .fourth-container .left-image {
    width: 100%;
    height: 100%;
  }
  .main-container .fourth-container .left-image img {
    width: 85%;
    height: 85%;
  }
  .main-container .fourth-container .right-text {
    height: 100%;
    width: 100%;
  }
  .main-container .fourth-container .right-text h2 {
    font-size: 8vw;
  }
  .main-container .fourth-container .right-text li {
    font-size: 3.5vw;
  }
}
